html {
	height: 100%;
}

body {
	margin: 0;
	padding: 50px 0 0 0;
	height: 100%;
	font-family: Georgia;
	background-color: #D0A9F5;
	color: #fff;
}
@media (max-width: 375px){
	body{
	}
}
ul {
	margin: 0;
	padding: 0;
}

/*header*/
#main-header {
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0;
	background-color: #1B0A2A;
	color: #D0A9F5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
	z-index: 9999;
}
@media (max-width: 375px){
	#main-header {
		height: 10%;
	}	
}

#main-header h2 {
	margin: 17px 0 0 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 25px;
	font-weight: 500;
	float: left;
}


@media (max-width: 375px){
	#main-header h2{
		font-size: 15px;
		letter-spacing: 2px;
	}	
}
#main-header a {
	margin: 20px 20px 0 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 15px;
	float: right;
	color: #D0A9F5;
	text-decoration: none;
}

@media (max-width: 375px){
	#main-header a{
		font-size: 15px;
		letter-spacing: 1px;
	}	
}
/*aside*/
#main-container aside#main-nav {
	position: fixed;
	top: 120px;
	left: 50px;
	width: 20%;
	background-color: #1B0A2A;
	color: #D0A9F5;
	text-align: center;
	border-radius: 1px;
	
}

#main-container #main-nav nav li{
	height: 60px;
	font-weight: 400;
	line-height: 53px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

#main-container #main-nav nav li:hover{
	background-color: #610B4B;
	color: #fff;
}

@media (max-width: 375px){
	#main-container aside#main-nav{
		display: none;
	}	
}
/*sections*/
#main-container #main-sections-container{
	float: right;
	width: 65%;
	margin: 56px 50px 0 0;
}
@media (max-width: 375px){
  	#main-container #main-sections-container{
		width: 100%;
		margin: 56px 0 0 0;
	}	
}
#main-container #main-sections-container section{
	margin: 0 0 10px 0;
	background-color: #1B0A2A;
	color: #D0A9F5;
	border-radius: 5px;
}
@media (max-width: 375px){
	#main-container #main-sections-container section{
 		position: relative;
 	}  		
}
#main-container #main-sections-container section header{
	width: 200px;
	margin: -8px 0 0 -8px;
	background-color: #610B4B;
	padding: 8px;
	text-align: center;
	min-height: 30px;
	color: #fff;
	float: left;
}
@media (max-width: 375px){
	#main-container #main-sections-container section header{
		float: none;
		position: absolute;
		
	
	}  		
}
#main-container #main-sections-container section header h2{
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
}
@media (max-width: 375px){
   	#main-container #main-sections-container section header h2{
   		position: absolute;
   		width: 100%
   		margin: 50%;

  	}
}

#main-container #main-sections-container section div.full{
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #D0A9F5;
	color: #fff;
	margin: 15px 15px 45px 15px;

}
#main-container #main-sections-container section div.full:hover{
	border-radius: 25%;

}
@media (max-width: 375px){
	#main-container #main-sections-container section div.full{
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #D0A9F5;
		color: #fff;
		margin: 15px 15px 20px 150px;
	    bottom: 0px;

	}
}




@media (max-width: 375px){
	#main-container #main-sections-container section article{
		height: 500px;
  	}
}

#main-container #main-sections-container section div.full span{
	position: relative;
	top: 17px;
	font-size: 11px;
	left: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;

}

@media (max-width: 375px){

	
}

#main-container #main-sections-container section article{
	clear: right;
	height: 200px;
	background-color: #610B4B;
	color: #fff;
	overflow: hidden;
}

@media (max-width: 375px){
	#main-container #main-sections-container section article{
		height: 400px;
  	}
}
#main-container #main-sections-container section article img{
	float: left;
	margin-right: 15px;
}

@media (max-width: 375px){
	#main-container #main-sections-container section article img{
		padding: 0px,0px,0px,0px;
  	}
}
#main-container #main-sections-container section article p{
	margin: 10px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: justify;
}