html{
	height: 100%

}
body{
 padding: 0px;
 margin: 0px;
 height: 100%;
 background-color: #448D7A;
 color: #fff;
 font-family: RobotoDraft;
}
li{
	padding: 0
	margin:0;

}
#main-header{
	background-color: #ff4533;;
	
}
#main-container{
	background-color: #0CF5AB;
	margin: 0px;
	padding: 20px;
	position: relative;
	top:20%;
}
#main-container div{
}
#main-container aside{
	background-color: #ff4533;
	margin: 5px;
	padding: 5px;
	height: 410px;
	width: 30%;
	position:absolute;
}
#main-container section{
	background-color:#ff4533;
	height: 200px;
	width: 600px;
	position: relative;
	left: 40%;
	top:-15px;
}
#main-container section img{
 	 height: 100px;
 	 width: 100px;

}
#main-container section p{
 	 

}
